@import 'bourbon/bourbon';
$gutter: em(47px);
$visual-grid: true;
@import 'neat/neat';

/* Responsive Design */

$mobile: new-breakpoint(max-width 500px);

$tablet: new-breakpoint(min-width 501px max-width 840px);


/* Colors */

$primary-color: #53a4d3;

/* Fonts */

$body-font: Helvetica, sans-serif;

/* Layout */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  @include outer-container;
  height: 600px;
}

.column {
  @include span-columns(4);
  @include omega(3n);
  margin-top: 25px;

  @include media($mobile) {
    @include span-columns(12);
  }

  @include media($tablet) {
    @include span-columns (12);
    @include omega (1n);
  }

  h3 {
    margin: 0;
    padding-top: 5px;
    color: $primary-color;
    font-family: $body-font;

    @include media($mobile) {
      @include span-columns (12);
      padding: 15px 15px 0;
    }
  }

  p {
    margin: 0;
    padding-top: 5px;
    color: $primary-color;
    font-family: $body-font;

    @include media($mobile) {
      @include span-columns (12);
      max-width: 100%;
      padding: 15px 15px 0;
    }

    @include media ($tablet) {
      @include span-columns (6);

      max-width: 100%;
    }
  }
}

.image {
  height: 185px;

  @include media($mobile) {
    @include span-columns (12);
    margin-bottom: 20px;
  }

  @include media($tablet) {
    @include span-columns (6);

    max-width: 100%;
  }


  img {
    max-width: 100%;
  }
}
